// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$yellow: #ffd756;
$blue: #12b2e3;
$red: #e34312;
$green: #00d86b;
$dark-gray: #0b0b0b;
$medium-gray: #cdcdcd;
$light-gray: #f5f5f5;

$footer-colour: #0494bd;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $yellow;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


// Menu variables (need tidying)

// breakpoints

$S:     320px;
$M:     em(640);
$L:     em(860);

// colors

$main-text: $base-font-color;
$link: $action-color;

$color-1: $dark-gray;
$color-2: $base-font-color;
$color-3: $medium-gray;

// fonts

$primary-font: $base-font-family;

// z-index

$header-zindex: 3;
$secondary-nav: 1;
$content-zindex: 2;


// header height

$header-S: 44px;
$header-M: 70px;
