<section class="text" id="about">
  <div>
    <article>
      <h3>About the Ebola Tracker</h3>
        <p>
          There is good evidence that during global public health emergencies
          (e.g. the H1N1 and SARS outbreaks) the results of relevant trials are
          routinely withheld and delayed. As part of the mission of Open Trials, we
          are documenting the extent of non-publication and publication delay for
          all trials on Ebola treatment and prevention in an attempt to improve
          standards and accountability.
        </p>
        <p>
          Our objectives are to:
          <ol>
            <li>identify all trials that have either completed or completed recruitment;</li>
            <li>identify results for all these trials;</li>
            <li>create a live updated online audit and tracker of these trials;</li>
            <li>to assess the impact of live online audit and accountability on trialists’ behaviour.</li>
          </ol>
        </p>
        <p>
          All previous research on this topic reports only the proportion of trials left
          unreported, often many years after an outbreak or completion of a trial.
          With online platforms and open data there is also the opportunity for live
          audit and individual accountability, providing ongoing monitoring of all
          completed trials, and live online daily feedback on the extent of
          the reporting delay for each individual trial.
        </p>
    </article>
  </div>
</section>
