<section class="banner">
  <header>
    <h2>How long does it take for the results of Ebola trials to be made available?</h2>
    <p>Deaths can rise quickly during public health emergencies: rapid sharing of data and results can save lives. The Ebola Trials Tracker aims to highlight the important individual trials, individual researchers and individual institutions who hold valuable trial data on Ebola.</p>
    <ul class="cta">
      <li><a data-scroll href="#graph">See our findings</a></li><li><a href="">Read our paper</a></li>
    </ul>
  </header>
</section>
