<section class="banner">
  <header>
    <h2>How long does it take for the results of Ebola trials to be made available?</h2>
    <p>Deaths can rise quickly during public health emergencies: <a href="http://www.who.int/medicines/ebola-treatment/data-sharing_phe/en/ target="_blank">rapid sharing</a> of data and results can save lives. We track all ongoing and completed Ebola trials, to shine a light on all those whose results are currently unavailable.</p>
    <ul class="cta">
      <li><a data-scroll href="#graph">See our findings</a></li><li><a href="">Read our paper</a></li>
    </ul>
  </header>
</section>
