<!--[if lt IE 8]>
<div class="browserupgrade">You are using an outdated browser. Please consider <a href="http://browsehappy.com/" rel="external">upgrading</a> to improve your experience.</div>
<![endif]-->
<header class="site-header">
  <div>
    <h1>
      <a href="/" style="color: inherit !important;">
        <span>Ebola Trials Tracker</span>
        <small>Powered by Open Trials</small>
      </a>
    </h1>
    <nav class="cd-main-menu">
      <label for="about-page-modal" class="cd-menu-text">About</label>
      <a class="cd-menu-text" href="mailto:{{ email }}?subject=Data for the Ebola Trials Tracker" target="_blank">
        <span class="cd-menu-text">Something Missing?</span>
      </a>
      <a class="cd-menu-text" href="https://docs.google.com/spreadsheets/d/18QoNBtABuGca8LBc0nXjMfrzWz4gZ2FWlLmtrvX-qyo/edit#gid=1189650096" target="_blank">
        <span class="cd-menu-text">Raw Data</span>
      </a>
    </nav>
  </div>
</header>