<!--[if lt IE 8]>
<div class="browserupgrade">You are using an outdated browser. Please consider <a href="http://browsehappy.com/" rel="external">upgrading</a> to improve your experience.</div>
<![endif]-->
<header class="site-header">
  <div>
    <h1>
      <a href="/" style="color: inherit !important;">
        <span>Ebola Trials Tracker</span>
        <img src="/images/powered-by.png" alt="Powered by OpenTrials" />
      </a>
    </h1>
    <a href="#menu" class="open-menu"><span>Menu</span></a>
    <nav class="cd-main-menu">
      {% include "partials/menu.html" %}
    </nav>
  </div>
</header>
