<article id="graph">

  <div class="graph-header">
      <span class="trials-graph-overview-block">
        <h4>Ebola trials completion and publication status</h4>
        <p>Source: <a href="https://opentrials.net/" target="_blank">OpenTrials.net</a></p>
      </span>
  </div>

  <div class="trials-chart-wrapper">
    <div class='tableauPlaceholder'
      id='viz1485274922857'
      style='position: relative; width: 904px; text-align: center; margin: 0 auto;'>
      <noscript>
        <a href='#'>
          <img alt='Dashboard 2 '
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Eb&#47;Ebola2_0&#47;Dashboard2&#47;1_rss.png'
            style='border: none' />
        </a>
      </noscript>
      <object class='tableauViz'
        style='display:none;'>
        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='site_root' value='' />
        <param name='name' value='Ebola2_0&#47;Dashboard2' />
        <param name='tabs' value='no' />
        <param name='toolbar' value='no' />
        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Eb&#47;Ebola2_0&#47;Dashboard2&#47;1.png' />
        <param name='animate_transition' value='yes' />
        <param name='display_static_image' value='yes' />
        <param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' />
        <param name='display_count' value='yes' />
        <param name='showShareOptions' value='false' />
      </object>
    </div>
    <script type='text/javascript'>
     var divElement = document.getElementById('viz1485274922857');
     var vizElement = divElement.getElementsByTagName('object')[0];
     vizElement.style.width='904px';
     vizElement.style.height='989px';
     vizElement.style.margin='0 auto';
     var scriptElement = document.createElement('script');
     scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
     vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
  </div>

  <div class="modal">
    <input class="modal-state" id="share-modal" data-modal-open type="checkbox" />
    <div class="modal-fade-screen" data-modal="close">
      <div class="modal-inner" data-modal="disable-click">
        <header class="modal-header">
          <div class="modal-close" data-modal="close" for="share-modal"></div>
          <h3>
            <i class="icon-share" style="font-size: 1.5em; vertical-align: middle;"></i>
            <span style="vertical-align: middle;">Share this graph</span>
          </h3>
        </header>
        <div class="modal-content">
          {% include "partials/share-graph.html" %}
        </div>
      </div>
    </div>
  </div>
</article>
