<div class="jumbotron inverse ot-header-jumbotron">

  <div class="container">
    {% block title %}<h1>{{ title }}</h1>{% endblock %}

    <div class="row">

      <!-- Subtitle -->
      <div class="col-xs-8">
        {% block subtitle %}<p>{{ subtitle }}</p>{% endblock %}
      </div>

      <!-- Download -->
      <div class="col-xs-4">
        <div class="btn-group pull-right">
          <a href="/api/all" class="btn btn-default">
            <span class="glyphicon glyphicon-download"></span>
            JSON
          </a>
          <button type="button" class="btn btn-default dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="/api/cases">Cases</a></li>
            <li><a href="/api/trials">Trials</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/api/all">All</a></li>
          </ul>
        </div>
      </div>

    </div>

  </div>

  <hr>

  <div class="container">
    OpenTrials &rsaquo; Tracker &rsaquo; Ebola
  </div>

</div>
