<ul>
  <li>
    <a data-scroll href="#about">About</a>
  </li>
  <li>
    <a href="#">Methods and Results</a>
  </li>
  <li>
    <a href="mailto:{{ email }}?subject=Data for the Ebola Trials Tracker" target="_blank">
      <span class="cd-menu-text">Something Missing?</span>
    </a>
  </li>
  <li>
    <a href="https://docs.google.com/spreadsheets/d/18QoNBtABuGca8LBc0nXjMfrzWz4gZ2FWlLmtrvX-qyo/edit#gid=1189650096" target="_blank">
      <span class="cd-menu-text">Raw Data</span>
    </a>
  </li>
</ul>
