<section class="leaderboard">
  <article>
    <p>
      All trials should be published, with their full methods and results made
      available. The WHO <a class="external"
      href="http://www.who.int/medicines/ebola-treatment/data-sharing_phe/en/"
      target="_blank">recently stated</a> that this process should be expedited
      during public health emergencies. However, there is currently no public
      data describing which individual researchers and organisations are
      complying with these ethical requirements. The Ebola Trials Tracker aims
      to fix this. We identify every trial on Ebola, and then highlight each
      individual trial that has currently not reported results. This is a
      complex task: researchers are required to place important information
      about their trials on public trial registries, but they often fail to do
      so, or leave incorrect information in the public domain. We therefore
      encourage all users of this site to read our paper to learn more about our
      methods.
    </p>
    <p>
        Below we present information on all completed trials (and ongoing trials
        with preliminary results). We also present summaries of our
        correspondence with trialists. If you are aware of any trial results we
        have missed, you can tell us here. You can also see the raw data behind
        this site, including ongoing trials, here. For this site, we consider
        preliminary and grey literature results to count as “reported”: however
        a more detailed breakdown is available in our paper. To maintain ongoing
        monitoring of compliance we will run results searches, and update the
        data presented here, on a monthly basis from February 2017.
    </p>
    <hr/>
    <a class="upload-missing-data" href="https://goo.gl/forms/ngSxKVCB6PrijHo13" target="_blank">
      Have we missed a trial? <b>Get in touch!</b>
    </a>
    <h3>Trial “leaderboard”</h3>
    <p>
      As of {{ today }}, <b>{{ trials.length }}</b> trials have been started,
      <b>{{ info.completedTrials }}</b> have passed completion date,
      and <b>{{ info.reportedTrials }}</b> trials have reported results.

      The average delay for unpublished results of completed Ebola trials is <b>{{ info.averageDelay }}</b> days.

      The most delayed trial is <b>{{ info.mostDelayed.id }}</b>, the least delayed trial is
      <b>{{ info.leastDelayed.id }}</b>.

      The number of participants in trials with completed recruitment is <b>{{ info.participants.completedRecruitment }}</b>,
      the number of participants in trials that have reported results is <b>{{ info.participants.reportedResults }}</b>.
      <br/>
      <b>{{ info.participants.completedRecruitmentNotReported }}</b> participants in completed trials have not had their
      data reported. We welcome feedback, especially from anyone who would like
      our support to build their own trackers for other sets of trials.
> Services improvements + new summary variables in place
    </p>
    <hr/>

    {% if trials.length > 0 %}
    <div class="trials-sorting">
      <span>Sort by:</span>
      <span class="current icon">Publication Delay</span>
      <div class="options">
        <div data-sort-trials="data-sort-publication" class="icon">Publication Delay</div>
        <div data-sort-trials="data-sort-participants" class="icon">Participant Count</div>
      </div>
    </div>

    <ol class="trial-list" id="trials-list">
      {% for trial in trials %}
      {% if trial.isCompleted %}
      {% set class = '' %}
      {% if trial.isCompleted and not trial.isPublished %}
      {% if trial.daysAfterCompletion <= 150 %}
      {% set class = 'ongoing' %}
      {% else %}
      {% set class = 'no-results' %}
      {% endif %}
      {% endif %}
      <li class="{{ class }}" data-sort-participants="{{ -trial.participantCount }}"
          data-sort-publication="{{ trial.publicationDelay }}">

        <div class="days">
          {% if trial.isCompleted %}
          <p>{{ trial.publicationDelayDays }} days
            {% if trial.isPublished %}
            <span>after completion</span>
            {% else %}
              <p>Published
                <span>on time</span>
              </p>
            {% endif %}
          {% endif %}
          {% if trial.isInProgress %}
          <p>{{ trial.daysAfterStart }} days <span>until completed</span></p>
          {% endif %}
          {% if not trial.isStarted %}
          <p>N/A</p>
          {% endif %}
        </div>

        {% if trial.isCompleted and not trial.isPublished %}
        {% set text = 'No results have been published.' %}
        <p class="status" title="{{ text }}">
          <span>{{ text }}</span>
        </p>
        {% endif %}
        {% if trial.isInProgress %}
        {% set text = 'Trial is ongoing.' %}
        <span class="status" title="{{ text }}">{{ text }}</span>
        {% endif %}
        {% if trial.isPublished %}
        {% set text = 'Results have been published.' %}
        <p class="status" title="{{ text }}">
          <span>{{ text }}</span>
        </p>
        {% endif %}

        <div class="description">
          <h4 title="{{ trial.title }}">{{ trial.title }}</h4>

          <ul>
            <li>
              <dl class="id">
                <dt>ID</dt>
                <dd>{{ trial.trialId }}</dd>
              </dl>
            </li>
            <li>
              <dl class="start date">
                <dt>Start date</dt>
                <dd>{{ trial.startDate }}</dd>
              </dl>
            </li>
            <li>
              <dl class="completion date">
                <dt>Completion date</dt>
                <dd>{{ trial.completionDate }}</dd>
              </dl>
            </li>
            {% if trial.participantCount %}
            <li>
              <dl class="participants">
                <dt>Participants</dt>
                <dd>{{ trial.participantCount }}</dd>
              </dl>
            </li>
            {% endif %}
            {% if trial.principalInvestigator %}
            <li>
          </ul>
          <ul>
            <li>
              <dl class="investigator">
                <dt>Principal investigator</dt>
                <dd>{{ trial.principalInvestigator | safe }}</dd>
              </dl>
            </li>
            {% endif %}
            {% if trial.sponsors.length > 0 %}
            <li>
              <dl class="sponsors">
                <dt>Sponsored by</dt>
                <dd>{{ joinListOfNames(trial.sponsors) | safe }}</dd>
              </dl>
            </li>
            {% endif %}
          </ul>
        </div>

        <ul class="links">
          <li class="external">
            <a target="_blank" href="https://explorer.opentrials.net/search?q={{ trial.trialId }}">OpenTrials entry</a>
          </li>
          <li class="external">
            <a target="_blank" href="{{ trial.url }}">Registry entry</a>
          </li>
          <li class="external">
            <a target="_blank" href="/correspondence/{{ trial.trialId }}">Correspondence with trialist</a>
          </li>
          {% if trial.isCompleted and not trial.isPublished %}
          {% set text = 'No results have been published.' %}
          <li class="email">
            <a href="mailto:{{ email }}?subject=Submission of information on {{ trial.trialId }} from the Ebola Trials Tracker">Submit information on this trial</a>
          </li>
          {% endif %}
        </ul>

      </li>
      {% endif %}
      {% endfor %}
    </ol>
    {% endif %}
  </article>
</section>
