html,
body {
	height: 100%;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
}

.site-header {
    background-color: $dark-gray;
    color: #fff;

    & > div {
        @include outer-container;

        height: 70px;
        position: relative;

        h1 {
            display: inline-block;
            vertical-align: middle;
          position: absolute;
          left: 0px;
            text-align: left;
            margin-top: 0;
            margin-bottom: 0;
            height: 70px;
          line-height: 1.2;
          padding-top: 0.6em;
          padding-left: $small-spacing;
          font-size: em(22);

          @include media($medium-screen) {
	          padding-top: 0.4em;
	          font-size: em(26);
          }

					img {
						width: 135px;
						opacity: 0.8;
						display: block;
						margin: -1px 0 0 1px;

						@include media($medium-screen) {
							width: 158px;
						}
					}

          small {
            font-size: 0.5em;
            font-weight: normal;
          }
        }

				.open-menu {
					float: right;
					margin: 0.8em $small-spacing 0 0;
					display: block;
				  position: relative;
				  overflow: hidden;
				  padding: 0;
				  width: 40px;
				  height: 40px;
				  text-indent: -9999px;
				  cursor: pointer;

					span {
						display: block;
					  position: absolute;
					  top: 19px;
					  left: 8px;
					  right: 8px;
					  height: 3px;
					  background: white;
						border-radius: 2px;
					  font-size: 0;

						&:before,
						&:after {
						  position: absolute;
						  display: block;
						  left: 0;
						  width: 100%;
						  height: 3px;
						  background-color: #fff;
						  content: "";
							border-radius: 2px;
						}

						&:before {
						  top: -7px;
						}
						&:after {
						  bottom: -7px;
						}

					}

					@include media($large-screen) {
						display: none;
					}
				}

        .cd-main-menu {
          position: absolute;
          right: 0px;
          display: none;
          height: 70px;
          line-height: 70px;
          text-align: right;
          white-space: nowrap;
					margin-right: $small-spacing;

					li {
						display: inline-block;
						display: inline-block;
						height: 70px;
						line-height: 70px;
						margin: 0px 0px 0px $small-spacing;

						a {
							color: inherit;
						}
					}

          @include media($large-screen) {
  			  	display: inline-block;
          }
        }

    }
}

.banner {
    background-color: $dark-gray;
    @include retina-image("../media/banner", cover, jpg);
	background-size: cover;
    background-position: center center;
    color: #fff;

    @include media($max-width) {
        padding-bottom: 75px;
    }

    header {
        @include outer-container;
        text-align: center;
        padding: $base-spacing;

				@include media($medium-screen) {
					padding-top: $base-spacing * 2;
					padding-bottom: $base-spacing * 2;
				}

        h2,
        p {
            @include media($large-screen) {
                @include span-columns(10);
                @include shift(1);
            }
        }

        h2 {
            font-size: rem(28);
            margin-bottom: 0.5em;

            @include media($medium-screen) {
							font-size: rem(36);
                span {
                    display: block;
                }
            }
        }

        p {
            font-size: rem(18);
            font-weight: 500;
            line-height: 1.3;

						@include media($medium-screen) {
							font-size: rem(22);
						}
        }

        & > a {
            @include round-button(#fff);
            margin-top: 10px;
        }
    }
}


#graph {
    @include outer-container;
    background-color: #fff;
    position: relative;
    padding: $base-spacing;
    text-align: center;

    @include media($max-width) {
        margin-top: -75px;
        min-height: 75px;
        border-radius: $base-border-radius $base-border-radius 0 0;
    }


		label[for=share-modal] {
			font-size: rem(14);

			@include media($medium-screen) {
				position: absolute;
				top: $base-spacing;
				right: $base-spacing;
			}
		}

		.trials-chart-wrapper {
			overflow-x: auto;
			clear: both;

			iframe {
				min-width: 400px;
			}

		}
}

.leaderboard {
    background-color: $light-gray;

    .upload-missing-data {
      background: $action-color;
      color: #000;
      padding: 0.3em 0.7em;
      border-radius: 5px;
			display: block;
			text-align: center;
			margin-bottom: $base-spacing;

			@include media($medium-screen) {
	      float: right;
				margin-bottom: 0;
			}

      &:hover, &active {
        color: #000;
      }
    }

    article {
        @include outer-container;
        padding: $base-spacing;

        @include media($large-screen) {
            padding-top: $base-spacing * 2;
            padding-bottom: $base-spacing * 2;
        }

        h3 {
            font-size: rem(32);
        }

        .trial-list {
            & > li {
                background-color: #fff;
                border-radius: $base-border-radius;
                overflow: hidden;
                border-top: solid em(7) $green;
								border-bottom: solid em(7) $green;
                margin-bottom: $small-spacing;

								@include media($large-screen) {
									border-top: none;
									border-bottom: none;
									border-left: solid em(7) $green;
									margin-bottom: $base-spacing;
								}

                @include media($max-width) {
                    width: $max-width;
                    margin-left: - ($gutter - em(3));
                    margin-right: - $gutter;
                }

								a {
									color: inherit;
								}

								.days {
									background-color: $green;
									padding: $small-spacing $base-spacing 0 $base-spacing;
									color: #fff;

									@include media($large-screen) {
										background-color: inherit;
										color: inherit;
										float: right;
										color: inherit;
										line-height: 1;
										padding: $base-spacing;

										&:before {
											@include icon-font();
											content: "\e802";
											float: left;
											font-size: 2em;
										}
									}

									p {
										font-weight: bold;
										margin: 0;
										font-size: 1.1em;

										@include media($large-screen) {
											margin-left: 2em;

											span {
												display: block;
												font-size: 0.9em;
											}
										}

										span {
											font-weight: normal;
										}
									}
								}

								.status {
									background-color: $green;
									color: #fff;
									display: block;
									padding: 0 $base-spacing $small-spacing $base-spacing;
									font-weight: bold;

									@include media($large-screen) {
										display: inline-block;
										padding: $small-spacing $base-spacing;
									}

									span {
										font-size: 1.1em;
									}
								}

                .description {
									padding: $small-spacing $base-spacing;

									@include media($large-screen) {
										border-bottom: solid 1px $light-gray;
									}

                  h4 {
                      font-size: 22px;
                  }

									ul {
										@include media($large-screen) {
											&:first-of-type {
												//pills
												margin-bottom: $small-spacing;

												li {
													display: inline-block;
												}

												dl {

													background-color: $dark-gray;
													color: #fff;
													border-radius: $base-border-radius;
													font-size: em(13);
													padding: $small-spacing / 3 $small-spacing;
													margin-bottom: $small-spacing;
													margin-right: $small-spacing / 2;

													dt,
													dd {
														display: inline;
													}
												}
											}
										}

									}

									dl {
										margin: 0;
										padding: 0;

										dt,
										dd {
											margin: 0;
										}
										dt {
											float: left;
											clear: left;

											&:after {
												content: ': \00a0';
											}
										}

										dd {
											margin-bottom: 0.5em;
										}
									}
                }

								.links {
									padding-bottom: $small-spacing;

									li {
										padding: $small-spacing /4 $base-spacing;
										border-top: dotted 1px rgba($green, 0.3);

										&:first-child {
											padding-top: $small-spacing /2;
										}

										@include media($large-screen) {
											padding-top: $small-spacing;
										}

										&.external,
										&.email {
											a {
												margin-left: 1.1em;
												display: block;
												font-size: em(15);

												@include media($large-screen) {
													line-height: 1.1;
												}

												&:before {
													display: inline-block;
													width: 1.3em;
													@include icon-font();
													content: "\e901";
													margin-left: -1.1em;
												}
											}
										}
										&.email {
											a {
												&:before {
													content: "\e900";
												}
											}
										}
									}
									@include media($large-screen) {
										padding-bottom: 0;

										li {
											display: inline-block;
											border: none;
											padding-right: 0;
											padding-bottom: $small-spacing;
										}
									}
								}

								@mixin status($bg_colour, $fg_colour:#fff, $link_colour:$bg_colour) {
									border-color: $bg_colour;

									.days {
										background-color: $bg_colour;
										color: $fg_colour;

										@include media($large-screen) {
											background-color: inherit;
										}
									}
									.status {
										background-color: $bg_colour;
										color: $fg_colour;
									}
									a {
										color: $link_colour;
									}
									.links {

										li {
											border-top-color: rgba($bg_colour, 0.3);
										}
									}
								}

                &.no-results {
									@include status($red);
									.days {
										@include media($large-screen) {
											color: $red;
										}
									}
                }

                &.ongoing {
									@include status($yellow, inherit, inherit);
                }
            }
        }
    }

  .trials-sorting {
    text-align: right;
    font-size: 0.8em;
    margin: 1.5em 0;
    white-space: nowrap;
    position: relative;

    .current {
      font-weight: bold;
      border: 1px solid transparent;
      padding: 10px 0 10px 18px;
      cursor: pointer;
    }

    .icon:after {
      content: "\25BE";
      margin-left: 4px;
    }

    .options {
      display: none;
      position: absolute;
      right: -19px;
      top: -11px;
      font-weight: bold;
      border: 1px solid $dark-gray;
      border-radius: 4px;
      background: $light-gray;
      z-index: 9999;
      padding: 10px 18px;
      box-sizing: border-box;
      cursor: pointer;

      .icon:after {
        visibility: hidden;
      }
    }

    &.is-opened {
      .options {
        display: block;
      }
    }
  }
}

section.text {
	& > div {
		@include outer-container;
		padding: $base-spacing;

		@include media($medium-screen) {
				padding-top: $base-spacing * 2;
				padding-bottom: $base-spacing * 2;
		}

		h3 {
				font-size: rem(36);
		}

		ul {
			@extend %default-ul;
		}
		ol {
			@extend %default-ol;
		}
	}

	&#about {
		border-top: solid 6px $yellow;
	}
}


.opentrials {
    background-color: $blue;
    color: #fff;

    & > div {
        @include outer-container;
        padding: $base-spacing;

        @include media($medium-screen) {
            padding-top: $base-spacing * 2;
            padding-bottom: $base-spacing * 2;
        }

        article {
            @include media($medium-screen) {
                @include span-columns(7);
            }

            & > a {
                @include round-button(#fff, $blue);
                margin-top: $small-spacing;
            }
        }
        aside {
            display: none;
            text-align: right;

            @include media($medium-screen) {
                @include span-columns(5);
            }

            .modal-trigger {
                margin-left: $base-spacing;
                position: relative;

                &:after {
                    @include icon-font();
                    content: "\e801";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 90px;
                    margin-top: -45px;
                    margin-left: -45px;
                    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}

.site-footer {
  background-color: $footer-colour;
  color: #fff;

  & > div {
	  padding-top: $base-spacing + $small-spacing;
	  padding-bottom: $base-spacing;
  }

  &.fixed-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  &.fixed-placeholder {
    visibility: hidden;
  }

  a, a:hover, a:active {
    color: inherit;
  }

  hr {
    border-color: rgba(255, 255, 255, 0.3);
	margin-top: $small-spacing / 2;
	margin-bottom: $small-spacing;
  }

  .clear {
    clear: both;
    border: 1px solid transparent;
  }

  .footer-block {
    float: left;
    margin-right: $gutter;
    white-space: nowrap;
    line-height: normal;

    img {
      height: 34px;
    }

  }

  .footer-links-block {
    float: right;
    white-space: nowrap;
    li {
      font-size: 0.9em;

			@include media($medium-screen) {
	      display: inline-block;
				height: 50px;
	      line-height: 50px;
	      margin-left: 1em;
			}

      &:first-child {
        margin-left: 0;
      }
    }

    @media screen and (max-width: 1200px) {
      display: block;
      clear: both;
      float: none;
      padding-top: 1em;
    }
  }

  p {
    font-size: 0.7em;
	opacity: 0.9;
  }

  .footer-icons {
    margin-bottom: $small-spacing;
    i {
      font-size: 1.2em;
      vertical-align: middle;
    }
    span {
      font-size: 0.9em;
      vertical-align: middle;
    }
  }
}

.trials-graph-overview-block {
  display: block;
  padding: 0.7em 1em;
  background: $dark-gray;
  color: #fff;
	margin-bottom: $base-spacing;

  h4 {
	  margin-bottom: 0.1em;
  }

  p {
    font-size: em(13);
	margin: 0;
  }

  @include media($medium-screen) {
	  text-align: left;
	  float: left;
  }
}

.share-graph-modal {

  table {
    table-layout: auto;
    margin-bottom: 0.75em;
  }

  table td {
    white-space: nowrap;
  }

  table input {
    margin-bottom: 0;
  }

  textarea {
    width: 100%;
    height: 5em;
  }

  .icon-facebook, .icon-twitter {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    font-size: 1.5em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    margin: 0 0 0 0.5em;
    text-align: center;
  }

  .icon-facebook {
    background: #133783;
  }

  .icon-twitter {
    background: #55acee;
  }
}

.error-page-container {
  @include outer-container;
  padding: $base-spacing;
}
