html,
body {
	height: 100%;
}

html {
    background-color: $footer-colour;
    overflow-x: hidden;
}
    
body {
    background-color: #fff;
}
    
.site-header {
    background-color: $dark-gray;
    color: #fff;

    & > div {
        @include outer-container;
        padding-left: $base-spacing;
        padding-right: $base-spacing;
        
        h1 {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
            line-height: 1;
            
            @include media($medium-screen) {
                font-size: 28px;
            }
        }
    }
}

.banner {
    background-color: $dark-gray;
    @include retina-image("../media/banner", cover, jpg);
    background-position: center center;
    color: #fff;
    
    @include media($max-width) {
        padding-bottom: 75px;
    }
    
    header {
        @include outer-container;
        text-align: center;
        padding: 40px $base-spacing $base-spacing  $base-spacing;
        
        h2,
        p {
            @include media($large-screen) {
                @include span-columns(10);
                @include shift(1);
            }
        }
        
        h2 {
            font-size: rem(36);
            margin-bottom: 0.5em;
            
            @include media($medium-screen) {
                span {
                    display: block;
                }
            }
        }
        
        p {
            font-size: rem(22);
            font-weight: 500;
            line-height: 1.3;
        }
        
        & > a {
            @include round-button(#fff);
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }
}

#graph {
    @include outer-container;
    background-color: #fff;
    position: relative;
    padding: $base-spacing;
    text-align: center;
    
    @include media($max-width) {
        top: -75px;
        min-height: 75px;
        border-radius: $base-border-radius $base-border-radius 0 0;
    }
}

.leaderboard {
    background-color: $light-gray;
    
    article {
        @include outer-container;
        padding: $base-spacing;
        
        @include media($large-screen) {
            padding-top: $base-spacing * 2;
            padding-bottom: $base-spacing * 2;
        }
        
        h3 {
            font-size: rem(32);
        }
        
        .trial-list {
            li {
                background-color: #fff;
                @include fill-parent();
                @include row(table);
                background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2P8+vXrfwAJpgPg8gE+iwAAAABJRU5ErkJggg==);
                background-repeat: repeat-y;
                background-position: 75.1% top;
                border-radius: $base-border-radius;
                overflow: hidden;
                border-left: solid em(7) $blue;
                margin-bottom: $small-spacing;
                
                @include media($large-screen) {
                    background-position: 83.4% top;
                }
                @include media($max-width) {
                    width: $max-width;
                    margin-left: - ($gutter - em(3));
                    margin-right: - $gutter;
                }
                
                .description {
                    @include span-columns(9);
                    padding: ($gutter - em(7));
                    vertical-align: middle;
                    
                    @include media($large-screen) {
                        @include span-columns(10);
                    }
                    
                    h4 {
                        font-size: 22px;
                        display: inline;
                    }
                    
                    .id {
                        font-size: 12px;
                        background-color: $base-font-color;
                        color: #fff;
                        padding: $small-spacing / 3 $small-spacing;
                        display: inline-block;
                        border-radius: $base-border-radius;
                        position: relative;
                        top: -3px;
                        margin-top: 10px;
                    }
                    
                    p {
                        margin-top: 8px;
                        margin-bottom: 0;
                        font-size: rem(15);
                    }
                }
                
                .stats {
                    @include span-columns(3);
                    
                    @include media($large-screen) {
                        @include span-columns(2);
                    }
                    
                    @include reset-display;
                    height: 144px;
                    vertical-align: top;
                    
                    & > div {
                        display: block;
                        font-weight: bold;
                        
                        @include media($medium-screen) {
                            height: 50%;
                        }
                        
                        p {
                            margin: 0;
                            text-align: center;
                            padding: 10px;
                            line-height: 1.1;
                            
                            @include media($medium-screen) {
                                margin-left: 40px;
                                text-align: left;
                                padding-top: 19px;
                                font-size: 18px;
                            }
                            
                            &:before {
                                @include icon-font();
                                display: block;
                                font-size: 24px;
                                text-align: center;
                                
                                @include media($medium-screen) {
                                    float: left;
                                    font-size: 31px;
                                    margin-top: 2px;
                                    margin-left: -42px;
                                    width: 40px;
                                }
                            }
                        
                            span {
                                display: none;
                                font-weight: normal;
                                font-size: 13px;

                                @include media($medium-screen) {
                                    display: block;
                                }
                            }
                        }
                        
                        &.days {
                            background-color: $blue;
                            color: #fff;
                            
                            p {
                                &:before {
                                    content: "\e802";
                                }
                            }
                        }
                        
                        &.participants {
                            p {
                                &:before {
                                    content: "\e800";
                                    
                                    @include media($medium-screen) {
                                        font-size: 32px;
                                        margin-top: 1px;
                                    }
                                }
                            }
                        }
                    }
                }
                
                &.no-results {
                    border-left-color: $red;
                    
                    div.days {
                        background-color: $red;
                    }
                }
                
                &.ongoing {
                    border-left-color: $yellow;
                    
                    div.days {
                        background-color: $yellow;
                        color: $base-font-color;
                    }
                }
            }
        }
    }
}

.opentrials {
    background-color: $blue;
    color: #fff;

    & > div {
        @include outer-container;
        padding: $base-spacing;
        
        @include media($medium-screen) {
            padding-top: $base-spacing * 2;
            padding-bottom: $base-spacing * 2;
        }

        article {
            @include media($medium-screen) {
                @include span-columns(7);
            }
            
            h3 {
                font-size: rem(36);
            }
            
            & > a {
                @include round-button(#fff, $blue);
                margin-top: $small-spacing;
            }
        }
        aside {
            display: none;
            text-align: right;

            @include media($medium-screen) {
                @include span-columns(5);
            }
            
            .modal-trigger {
                margin-left: $base-spacing;
                position: relative;
                
                &:after {
                    @include icon-font();
                    content: "\e801";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    font-size: 90px;
                    margin-top: -45px;
                    margin-left: -45px;
                    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}

.site-footer {
    background-color: $footer-colour;
}

.trials-chart-wrapper {
  padding: 0px;
  position: relative;
}

.trials-chart-wrapper [trials-chart] {
  width: 100%;
  height: 300px;
  position: relative;

  .c3-line {
    stroke-width: 2px;
  }

  .c3-circle {
    r: 5px;
  }
}

.c3 {
  text-align: left;
}

.c3-tooltip {
  table-layout: auto !important;
}

.share-graph-modal {

  table {
    table-layout: auto;
    margin-bottom: 0.75em;
  }

  table td {
    white-space: nowrap;
  }

  table input {
    margin-bottom: 0;
  }

  textarea {
    width: 100%;
    height: 4em;
  }

  .icon-facebook, .icon-twitter {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    color: #fff;
    font-size: 1.5em;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
    margin: 0 0 0 0.2em;
    text-align: center;
  }

  .icon-facebook {
    background: #133783;
  }

  .icon-twitter {
    background: #55acee;
  }
}