{% extends "layouts/base.html" %}

{% block content %}
<h2>About the Ebola Tracker</h2>
<p>There is good evidence that during global public health emergencies (e.g. the H1N1 and SARS outbreaks) the results of relevant trials are routinely withheld and delayed.  As part of the mission of Open Trials, we are documenting the extent of non-publication and publication delay for all trials on Ebola treatment and prevention in an attempt to improve standards and accountability.</p>
<p>Our objectives are to: (1) identify all trials that have either completed or completed recruitment; (2) identify results for all these trials; (3) create a live updated online audit and tracker of these trials; (4) to assess the impact of live online audit and accountability on trialists’ behaviour. </p>
<p>All previous research on this topic reports only the proportion of trials left unreported, often many years after an outbreak or completion of a trial. With online platforms and open data there is also the opportunity for live audit and individual accountability, providing ongoing monitoring of all completed trials, and live online daily feedback on the extent of the reporting delay for each individual trial.</p>
<h2>About Open Trials</h2>
<p>The Open Trials project aims to shine a light on publication bias, a longstanding problem in trials research.  Read more about Open Trials here, including information on the various ways to get in touch and get involved. </p>
{% endblock %}
