<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>

  <!-- Application -->
  <link rel="stylesheet" type="text/css" href="/styles/vendor.min.css">

  <!-- Icons -->
  <link rel="shortcut icon" type="image/png" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

  <style type="text/css">

    html, body, [data-chart="trials"] {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }

    body {
      overflow: hidden;
    }

    [data-chart="trials"] {
      position: relative;
      max-height: none !important;
    }

    [data-chart="trials"] .c3-line {
      stroke-width: 2px;
    }

    [data-chart="trials"] .c3-circle {
      r: 5px;
    }

    .c3 {
      text-align: left;
    }

    .c3-tooltip {
      table-layout: auto !important;
    }

  </style>
</head>

<body>

<div data-chart="trials"></div>

<!-- Libraries & application -->
<script src="/scripts/vendor.min.js"></script>
<script src="/scripts/app.min.js"></script>

<script type="text/javascript">
  $('[data-chart="trials"]').chart({{ chartData | safe }}, {
    all: {
      title: 'Cumulative number of patients in completed trials',
      color: '#ffd756',
      type: 'spline'
    },
    completed: {
      title: 'Cumulative number of patients in completed and reported trials',
      color: '#12b2e3',
      type: 'spline'
    },
    death: {
      title: 'Ebola deaths',
      color: '#e34312',
      type: 'area-spline'
    }
  });

  setTimeout(function() {
    // Force refresh
    //window.location.reload(true);
  }, 5 * 60 * 1000); // 5 mins
</script>

</body>
</html>
