{% extends "layouts/base.html" %}

{% block content %}

<form method="post" action="" style="max-width: 600px; margin: 80px auto;">
  <div class="{{ 'has-error' if hasErrors else '' }}">
    <label for="token">Access token:</label>
    <div>
      <input type="text" name="token" id="token" autofocus="autofocus">
      <div>
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
    </div>
    {% if hasErrors %}
    <div style="color: red;"><small>Invalid access token.</small></div>
    {% endif %}
  </div>
</form>

{% endblock %}
